* {
    font-family: Helvetica, sans-serif;
    color: rgb(117, 71, 14);
}

.body {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.container {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 215px;
}

.btn {
    height: 1.5rem;
    color: bisque;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(172, 127, 255);
    box-shadow: 0 0 2px rgba(0, 0, 0, .6);
    &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0);
    }
    &:active {
        box-shadow: 0 0 4px rgb(172, 127, 255);
    }
}